.ant-message-custom-content.ant-message-error{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-back-top{
  bottom: 80px !important;
  right: 10px !important;
}

.ant-image-preview-img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
